@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/bg-image.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Inter', serif;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

p {
    color: #fff;
}

img.logo {
    margin-bottom: 154px;
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.search-box {
    display: flex;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.search-box input {
    border: none;
    font-size: 14px;
    font-family: 'Inter', serif;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.search-box button {
    padding: 5px 12px;
    background-color: black;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.search-box button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.search {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search img:hover {
    transform: scale(1.2);
}

.search-box.active input {
    width: 200px;
    visibility: visible;
    opacity: 1;
    padding: 5px;
}

.hidden {
    display: none;
    max-width: 420px;
    width: 100%;
}

/* make AI cuman buat transisi */